POSTGRES_USER=eShoesUser
POSTGRES_PASS=eShoesPass
POSTGRES_DB=eShoesdb

CONNECTION_STRING="Host=localhost;Port=5432;Database=eshoesdb;Username=eShoesUser;Password=eShoesPass"
JWT_SECRET_KEY=jwt_key
STRIPE_SECRET_KEY=sk_test_
STRIPE_PUBLISHABLE_KEY=pk_test

